# GoPhish Admin
GOPHISH_ADMIN_PASSWORD=ChangeMe123!

# SMTP - Direct Sending
SMTP_HOSTNAME=mail.example.com
SMTP_DOMAINS=client1-portal.de,client2-secure.com

# Build overrides (optional)
# GOPHISH_VERSION=master
# TRACKING_PARAM=cid
